<center>

<h1>ACCOUNTABILITY GROUP</h1>


 <div class="container">
  <h2>Hover Rows</h2>

  <table class="table">
    <tbody>
    <%@group.each do |member|%>
    <tr>
   <th><a href='/users/<%=member.id%>'><%=member.first_name%> <%=member.last_name%></a></th>
    <% end %>
      </tr>
    </tbody>
  </table>
</div>
</center>

