<h1>ACCOUNTABILITY GROUP</h1>


 <div class="container">
  <h2>Hover Rows</h2>

  <table class="table table-hover">
    <tbody>
    <%@group.each do |member|%>
    <tr>
    <a href='/users/<%=member.id%>'><th><%=member.first_name%> <%=member.last_name%></th></a>
    <% end %>
      </tr>
    </tbody>
  </table>
</div>

