<h1>YOUR CHALLENGE INFO</h1>

<p> Starting Weight:</p><%= @challenge.current_weight %><br>
<p>Goal Weight:</p><%= @challenge.goal_weight %><br>
<p>Challenge Duration:</p><%= @challenge.challenge_duration %><br>
