<center>
<h1>CHALLENGE PROGRESS</h1>

<% @progress.attributes.each do |key, value| %>
  <p><%= key %> : <%= value %><br></p>
<% end %>


<div style='width:75%'>
<div class="progress">
  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
  aria-valuemin="0" aria-valuemax="100" style="width:40%">
    Week 1 Goal
  </div>
</div>

<ul class="list-group">
  <li class="list-group-item list-group-item-success">Mon/Wed/Fri: 1 mile walk</li>
  <li class="list-group-item list-group-item-warning">Thurs/Fri: 2 mile jog</li>
  <li class="list-group-item list-group-item-warning">Weekend: 20 minute jog</li>

</ul>

<div class="progress">
  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60"
  aria-valuemin="0" aria-valuemax="100" style="width:60%">
    Your Ultimate Goal
  </div>
</div>


<div class="alert alert-warning">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Warning!</strong> If you do not meet your goal in 5 days, your embarrassment will be posted to Facebook!
</div>
</div>
</center>
