<h1>THE ONE WHO YOU DON'T WANT TO DISSAPOINT</h1>
<%= @mentor %>

<div class="panel panel-default">
  <div class="panel-heading">Your Mentor</div>
  <div class="panel-body">The email that will be sent to them.</div>
</div>