<h1>Submit An Embarrassment</h1>
<p>Please submit an embarrassing story or statement about yourself. Make sure that it is something that you DO NOT want your friends to know about! </p>
<form action='/account/submit_embarrassment' method='post'>
  <textarea rows='4' cols='50' placeholder='Enter Your Embarrasment Here!!!' name='embarrassment'></textarea>
  <input type='submit'></input>
</form>
