<h1>Home Page</h1>
<h2>Be Motivated!!!</h2>
<img src="#"><br>

<a href="/logout" method='get'>LogOut</a><br>

<button type='button' class='btn btn-primary'>Notifications <span class="badge">5</span></button><br>

<ul class="breadcrumb">
  <li><a href='/users/embarrassment'>Your Embarrassment</a></li>
  <li class="active"><a href="/users/progress">Your Progress</a></li>
  <li><a href="/users/challenge">Your Challenge</a></li>
  <li><a href="/users/accountability_group">Your Accountability Group</a></li>
  <li><a href="/users/mentor">Your respected contact</a></li>
  <li><a href="/users/<%= session[:user_id] %>">View Profile</a></li>
</ul>

