<h1>Home Page</h1>
<h2>Be Motivated!!!</h2>
<img src="">

<a href=''>Your Embarrassment</a><br>

<a href="">Your Progress</a><br>

<a href="">Your Challenge</a><br>

<a href="">Your Accountability Group</a><br>

<a href="">Your respected contact</a><br>

<a href="">View Profile</a><br>
