<div class="container">
  <div class="jumbotron">
<h1>OrElse...</h1>

<div class='location-carousel'>
<div class="hero-"></div>

</div>
<form action='/users/<%=' method='post'>
  <input id='email' type='textarea' placeholder='email' name='email'></input>
  <input id='password' type='textarea' placeholder='password' name='password'></input>
  <input id='button' type='submit' value='LogIn'></input>
</form>

<a href="/account/new">Sign Up Today!</a>
</div>
</div>

