<h1>Motivational App!</h1>

<form action='/home' method='post'>
  <input type='textarea' placeholder='email'></input>
  <input type='textarea' placeholder='password'></input>
  <input type='submit' value='LogIn'></input>
</form>

<a href="/account/new">Sign Up Today!</a>
