<h1>Sign Up and Be Motivated</h1>

<form action="/account/make_goal" method='post'>
  <input type='textarea' placeholder='First Name'></input>
  <input type='textarea' placeholder="Last Name"></input>
  <input type='textarea' placeholder="Email"></input>
  <input type='textarea' placeholder="Password"></input>
  <input type='textarea' placeholder="Location"></input>

  <input type='submit' value='Create Account!' class='button'></input>
</form>
