<div id='sign_up'>

<h1>Sign Up and Do the Thing</h1>

<div class="row">
<form id='create_account'action="/account" method='post'>
  <div class="col-sm-6">
    <input type='textarea' placeholder='First Name' name='user[first_name]'></input>
  <input type='textarea' placeholder="Last Name" name='user[last_name]'></input>
</div>
  <div class="col-sm-6">
    <input type='textarea' placeholder="Email" name='user[email]'></input>
  <input type='textarea' placeholder="Password" name='user[password]'></input>
</div>
  <input type='textarea' placeholder="Location" name='user[location]'></input>

  <input type='submit' value='Create Account!' class='button'></input>
</form>
</div>

</div>
<%= erb :'account/make_goal', layout: false %>
<%= erb :'account/link_social', layout: false %>
