<center>

<div id='sign_up'>

<h1 style="color:orange">Sign Up And Accomplish Your Goals!</h1>


<form class='form-horizontal' id='create_account'action="/account" method='post'>
    <div class='form-group'>
    <div class="col-sm-40">
    <input type='textarea' placeholder='First Name' name='user[first_name]'></input>
    </div>
    </div>
    <div class='form-group'>
    <div class="col-sm-40">
  <input type='textarea' placeholder="Last Name" name='user[last_name]'></input>
    </div>
    </div>
    <div class='form-group'>
    <div class="col-sm-40">
    <input type='textarea' placeholder="Email" name='user[email]'></input>
    </div>
    </div>
    <div class='form-group'>
    <div class="col-sm-40">
<input type='password' placeholder="Password" name='user[password]'></input>
 </div>
    </div>
  <div class='form-group'>
    <div class="col-sm-40">
  <input type='textarea' placeholder="Location" name='user[location]'></input>
  </div>
    </div>
  <div class='form-group'>
    <div class="col-sm-40">
  <input type='submit' value='Create Account!' class='button'></input>
  </div>
    </div>
</form>

</div>
<%= erb :'account/make_goal', layout: false %>
<%= erb :'account/link_social', layout: false %>
</center>
